.head {

    display: flex;
    flex-direction: column;
    align-items: center;
position: relative;
}

.head::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icone.svg');

}

.head .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.head .informacao {
    font-family: 'NeueMachina-Regular';
    text-align: center;
}

.informacao {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informacao p {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: .5rem;
}

.informacao p::before {

    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;

}

.informacao .job::before {

    background-image: url('../img/job.svg');
}

.informacao .email::before {
    background-image: url('../img/email.svg');

}

.informacao .location::before {

    background-image: url('../img/location.svg');
}

.informacao .phone::before {
    background-image: url('../img/phone.svg');

}


.informacao .job2::before {
    background-image: url('../img/dev.png');
    max-width: 150%;
    
    
}




.informacao a{
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .head {

        display: grid;
        grid-template-areas: 
        "img title"
        "img informacao"
        ;


    }

    .head .img {
        grid-area: img;
        margin: 0 auto;
    }

    .head .title {
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    .head .informacao {

        grid-area: informacao;
    }
}